h1{
    text-align: center;
}
.modal-form{
    padding: 1rem 0;
}
 
.full-width-input{
    width: 100%;
}

.ImgenEstilo{
    width:200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}