
<div class="container-fluid">
    <div class="row">
       
        <div class="col-md-2 ">
            
            <div class="col-12 ">
                <section class="check-box">
                    <h4 class="p-3 border-bottom border-dark">Filtrar por:</h4>
                    <p><mat-checkbox class="check">Ofertas</mat-checkbox></p>
                    <p><mat-checkbox >Precio de mayor a menor</mat-checkbox></p>
                    <p><mat-checkbox >Precio de menor a mayor</mat-checkbox></p>
                    <app-tree></app-tree>
                  </section>
            </div>
        </div>


        <div class="col-md-8 pt-4 border border-black">
            
            <app-grid></app-grid>
    
        </div>

        <div class="col-md-2 ">
            Publicidad
        </div>
    </div>
</div>

