img{
    width: 100%;
    height: 100%;
   max-block-size: 20%;
}

ngb-carousel{
   //background-color: rgb(186, 237, 192);
//    width: 900px;
//    height: 300px;
   width: 100%;
    height: 100%;
   text-align: center;
}

.alt{
   display: block;
}

// .contenido{
//     padding: 10px;
//     margin: 10px;
// }

