li :visited {  
    background-color:white;
    color: black;
}

li{
    border-radius: 100px;
}
 /*  .nav-tabs{
     background-color: black;
 }  */
a{
    border-radius: 10px;
}

.ngbNavLink{
    text-decoration: white;
    font-size: 2rem;
}